﻿@model IMS.Service.ViewModels.MagFaramViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">माग फारम</span>
    </div>
    <div class="content-field">
        <form class="form-horizontal" id="magFaram" method="post" action="@Url.Action("Create", "#")">
            <div class="form-group">
                @Html.LabelFor(model => model.MagfaramModel.Mag_faram_number, "माग न.", htmlAttributes: new { @class = "control-label form-label" })

                @Html.EditorFor(model => model.MagfaramModel.Mag_faram_number, new { htmlAttributes = new { disabled = "disabled", @class = "form-field" } })
                @Html.ValidationMessageFor(model => model.MagfaramModel.Mag_faram_number, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MagFaramDetailsModel.Request_By, "माग गर्ने", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.MagFaramDetailsModel.Request_By, Model.KarmachariDetailsModel, "--माग गर्ने छान्नुहोस--", htmlAttributes: new { @class = "form-field" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MagFaramDetailsModel.Category_Id, "क्याटेगोरी", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.MagFaramDetailsModel.Category_Id, Model.CategoryList, "---------", htmlAttributes: new { @class = "form-field" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MagFaramDetailsModel.Product_Id, "प्रोडक्ट", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.ProductModel.Id, new SelectList(" "), "----------", new { @class = "form-field" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProductDetailsModel.Id, "प्रोडक्ट डिटेल्स", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.ProductDetailsModel.Id, new SelectList(" "), "----------", new { @class = "form-field" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MagFaramDetailsModel.Quantity, "क्वानटिटी", htmlAttributes: new { @class = "control-label form-label" })

                @Html.EditorFor(model => model.MagFaramDetailsModel.Quantity, new { htmlAttributes = new { @class = "form-field" } })
                @Html.ValidationMessageFor(model => model.MagFaramDetailsModel.Quantity, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>मिति</label>
                <input type="text" class="nep_date form-control form-field" id="nepali_date" name="KharidAdeshModel.Created_date" />


            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="kharid_ades_form_btn" onclick="MagFaramformSubmit(event)" class="btn btn-default">थप</button>
                </div>
            </div>
        </form>
    </div>
    <div class="display-content">
        <table class="table table-bordered " id="mag_faram_table">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>पेश गर्ने</th>
                    <th>क्याटोगोरी</th>
                    <th>प्रोडक्ट</th>
                    <th>प्रोडक्ट डिटेल्स</th>
                    <th>सङ्ख्या</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>

            </tbody>
        </table>
        <input type="hidden" value="@Session["id"]" id="myHiddenVar" />
        <input type="hidden" value="@Session["Office_Id"]" id="officeId" />
        <div class="submit-buttonss btn-group">
            <button class="btn btn-primary" id="save" onclick="saveMagFaramDetails()" type="button"> Save </button>
            <button class="btn btn-warning" type="button"> Clear </button>
        </div>
    </div>
</div>

<script>
var MyAppUrlSettings = {
    MagFaramURL : '@Url.Action("SaveFromFront","Magfaram")'  // ("Function", "Controller")
}
</script>

<script>
    $('.nep_date').nepaliDatePicker({
        dateFormat: "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
    // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    $('#nepali_date').val(calendarFunctions.getNepaliNumber(nepDate.bsYear) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsMonth) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsDate));
</script>

<script>
    $(document).ready(function () {
        $('#MagFaramDetailsModel_Category_Id').change(function () {
            var category_id = $(this).val();
            var office_id = $('#officeId').val();
            //alert('hunter');
            //console.log(category_id);
            //console.log(office_id);
            $.ajax({

                url: "/Product/GetProductByCategoryIdOfficeId/",
                data: {
                    category_id: category_id,
                    office_id: office_id
                },
                type: 'Get',
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    $("#ProductModel_Id").html(' '); //khali gareko

                    $("#ProductModel_Id").append("<option>---------</option>")

                    $.each(result, function (key, value) {
                       // console.log(value);
                        $("#ProductModel_Id").append("<option value='" + value.Id + "'>" + value.Product_name + "</option>")
                    })
                }

            })
        });

    });

</script>

<script>
    $(document).ready(function () {
        $('#ProductModel_Id').change(function () {
            var product_id = $('#ProductModel_Id').val();
            var office_id = $('#officeId').val();
            //alert('hunter');
            $.ajax({
                url: "/ProductDetails/getProductDetailsByProductId/",
                data: {
                    product_id: product_id,
                    office_id: office_id
                },

                type: 'Get',
                contentType: JSON,
                success: function (result) {

                    $("#ProductDetailsModel_Id").html(' ');
                    $("#ProductDetailsModel_Id").append("<option>-------- </option>")

                    $.each(result, function (key, value) {
                        //console.log(value);
                        $("#ProductDetailsModel_Id").append("<option value='" + value.Id + "'>" + value.Specification_Name + "</option>")
                    })
                }
            })
        });

    });
</script>
