﻿@model IMS.Service.Models.MagFaramDetailsModel

@using (Html.BeginForm("MagFaramReportView", "MagFaramDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Khrid Adesh Report</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="miti">आर्थिक वर्ष</label>
            <select>

                <option>2075/76</option>
            </select>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.LabelFor(model => model.Mag_Faram_Id, "माग फारम न.", htmlAttributes: new { @class = "control-label form-label " })

                @Html.DropDownListFor(model => model.Mag_Faram_Id, Model.MagFaramList, htmlAttributes: new { @class = "form-field  " })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" formtarget="_blank" value="हेर्ने" class="btn btn-default" />
            </div>
        </div>
    </div>
}
