﻿@model IMS.Service.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Product Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        @Html.LabelFor(model => model.ProductModel.Product_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.ProductModel.Product_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductModel.Product_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.ProductModel.Unit_Id, "category", htmlAttributes: new { @class = "control-label form-label" })
        @Html.DropDownListFor(model => model.ProductModel.Unit_Id, Model.UnitList)

    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.ProductModel.Category_Id, "category", htmlAttributes: new { @class = "control-label form-label" })
        @Html.DropDownListFor(model => model.ProductModel.Category_Id, Model.CategoryList)

    </div>
   
    @*<div class="form-group">
        <label for="Id">Saman Prakriti</label>
        @Html.LabelFor(model => model.ProductModel.Saman_prakriti_id, "सामान प्रकृती ", htmlAttributes: new { @class = "control-label form-label" })
        @Html.DropDownListFor(model => model.ProductModel.Saman_prakriti_id, Model.SamanPrakritiList)
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.ProductModel.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductModel.Slug, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductModel.Slug, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
