﻿@model IMS.Service.ViewModels.KarmachariViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">कर्मचारी फारम</span>
    </div>
    @using (Html.BeginForm("Create", "KarmachariDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.KarmachariDetailsModel.First_Name, "प्रथम नाम", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KarmachariDetailsModel.First_Name, new { htmlAttributes = new { @class = "form-filed" } })
                    @Html.ValidationMessageFor(model => model.KarmachariDetailsModel.First_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KarmachariDetailsModel.Last_Name, "अन्तिम नाम", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KarmachariDetailsModel.Last_Name, new { htmlAttributes = new { @class = "form-filed" } })
                    @Html.ValidationMessageFor(model => model.KarmachariDetailsModel.Last_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KarmachariDetailsModel.Sewa, "सेवा", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KarmachariDetailsModel.Sewa, new { htmlAttributes = new { @class = "form-filed" } })
                    @Html.ValidationMessageFor(model => model.KarmachariDetailsModel.Sewa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KarmachariDetailsModel.Samuha, "समुह", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KarmachariDetailsModel.Samuha, new { htmlAttributes = new { @class = "form-filed" } })
                    @Html.ValidationMessageFor(model => model.KarmachariDetailsModel.Samuha, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KarmachariDetailsModel.Pad, "पद", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KarmachariDetailsModel.Pad, new { htmlAttributes = new { @class = "form-filed" } })
                    @Html.ValidationMessageFor(model => model.KarmachariDetailsModel.Pad, "", new { @class = "text-danger" })
                </div>
            </div>



            @Html.HiddenFor(m => m.KarmachariModel.Office_Id, new { Value = Session["Office_Id"] })
            @Html.HiddenFor(m => m.KarmachariDetailsModel.Office_Id, new { Value = Session["Office_Id"] })

            @Html.HiddenFor(m => m.KarmachariModel.Created_by, new { Value = Session["id"] })


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</div>