﻿@model IMS.Service.Models.ProductDetailsModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">प्रोडक्ट डिटेल्स </span>
    </div>
    @using (Html.BeginForm("Create", "ProductDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.Propduct_id, "प्रोडक्ट", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.DropDownListFor(model => model.Propduct_id, Model.ProductList, "--प्रोडक्ट छान्नुहोस--", htmlAttributes: new { @class = "form-field" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Specification_Name, "प्रोडक्ट डिटेल्स", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Specification_Name,new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Specification_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @Html.HiddenFor(model => model.Office_Id, new { Value = Session["Office_Id"] })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>
   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

