﻿@model IMS.Service.ViewModels.ProductViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">प्रोडक्ट </span>
    </div>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.ProductModel.Category_Id, "category", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.ProductModel.Category_Id, Model.CategoryList, htmlAttributes: new { @class = "form-field" })

            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.ProductModel.Product_name, htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.ProductModel.Product_name, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.ProductModel.Product_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.ProductModel.Unit_Id, "युनिट", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.ProductModel.Unit_Id, Model.UnitList, htmlAttributes: new { @class = "form-field" })

            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.ProductModel.Saman_barga_id, "सामान वर्ग", htmlAttributes: new { @class = "control-label form-label" })
                @Html.DropDownListFor(model => model.ProductModel.Saman_barga_id, Model.SamanBargaList, htmlAttributes: new { @class = "form-field" })

            </div>
            @Html.HiddenFor(model => model.ProductModel.Office_Id, new { Value = Session["Office_Id"] })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModel.Category_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModel.Product_name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ProductModel.Saman_barga_id)
                </th>


                <th>Action</th>
            </tr>

            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Saman_Barga_Name)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

