﻿@model IEnumerable<IMS.Service.Models.ProductModel>



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Saman_prakriti_id)
        </th>


        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Saman_Barga_Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

