﻿<div class="head-container">
    <div class="top-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="~/Assets/img/nepal-govt-logo.png" height="25px" width="25px" alt="">
                        Local Level Inventory Management System (स्थानिय तह जिन्सी प्रणाली)
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            [

                            @if (Session["id"] != null)
    {

                        @Session["local_level_code"];
                        @Session["OfficeNameNep"];

} ]


                            होम
                           बाहिर जानुहोस
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="menu-nav">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-home"></i></a></li>
            <li id="kharid_home"><a data-toggle="tab" href="#खरिद">खरिद आदेश </a></li>
            <li><a data-toggle="tab" href="#दाखिला">दाखिला फारम </a></li>
            <li><a data-toggle="tab" href="#माग">माग फारम </a></li>

            <li><a data-toggle="tab" href="#निकसा">निकसा फारम </a></li>
            <li><a data-toggle="tab" href="#प्रतिवेदन">प्रतिवेदन </a></li>
            <li><a data-toggle="tab" href="#सुरक्षा">सुरक्षा </a></li>
            <li><a data-toggle="tab" href="#सेटअप">सेटअप </a></li>

            <li class="pull-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> सेटिङ्स <span class="caret"></span></a>
                <ul class="dropdown-menu setting-dropdown">

                    <li><a href="#">कर्मचारी</a></li>
                    <li>@Html.ActionLink("युनिट्", "Index", "Unit")</li>
                    <li>@Html.ActionLink("समान बर्ग", "Index", "SamanBarga")</li>
                    <li>@Html.ActionLink("समान प्रकार", "Index", "SamanKisim")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    <li><a href="#">कार्यालय </a></li>
                    <li><a href="#">कर्मचारी</a></li>

                </ul>
            </li>

        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="welcome-message">
                    <p>
                        Welcome To Local Level Inventory Management System
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </p>
                    <small>&copy; 2018 Not A Twake Production</small>
                </div>

                <div class="welcome-message">
                    <p>
                        Welcome To Local Level Inventory Management System
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </p>
                    <small>+9779843408899 | 021-015879 | llims@gmail.com </small>
                </div>

            </div>

            @*
        khrid Adesh view
            *@

            <div id="खरिद" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">नयां</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#" class="kharidAdeshEdit">
                        <i class="fa fa-search" aria-hidden="true"></i><br>
                        <span class="">Search</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-pencil" aria-hidden="true"></i><br>
                        <span class="">Edit</span>
                    </a><br />
                </div>
            </div>


            @*
        दाखिला View
            *@
            <div id="दाखिला" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">नयां</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i><br>
                        <span class="">Search</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i><br>
                        <span class="">Search</span>
                    </a><br />
                </div>
            </div>

            @*
        माग Faram View
            *@
            <div id="माग" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">नयां</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i><br>
                        <span class="">Search</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i><br>
                        <span class="">Search</span>
                    </a><br />
                </div>
            </div>


            @*
        निकसा view
            *@
            <div id="निकसा" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">नयां</span>
                    </a><br />

                </div>
            </div>

            @*
***************************************************        सुरक्षा  ****************************************************************
            *@
            <div id="सुरक्षा" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">कर्मचारी</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">पर्योगकर्ता बनाउने</span>
                    </a><br />
                </div>

            </div>



            @*
**************************************    Report  ************************************************************
            *@
            <div id="प्रतिवेदन" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">म.ले.प.फा ४५</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">म.ले.प.फा ४६</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">म.ले.प.फा ४९</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#" class="add">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">म.ले.प.फा ५१</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#" class="kharidAdeshReportView">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">खरिद आदेश प्रतिवेदन</span>
                    </a><br />

                </div>

                <div class="sub-menu">
                    <a href="#" class="magFaramReportView">
                        <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><br>
                        <span class="">माग प्रतिवेदन</span>
                    </a><br />
                </div>

                <div class="sub-menu">
                    <a href="#">
                        <i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i><br>
                        <span class="">जिन्सी प्रतिवेदन</span>
                    </a><br />
                </div>
            </div>

            @*

    ****************************   सेटअप   *******************************************************

            *@
            <div id="सेटअप" class="tab-pane fade">
                <div class="sub-menu">
                    <a href="#" class="seller">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">आपुर्तीकर्ता</span>
                    </a><br />

                </div>
                <div class="sub-menu">
                    <a href="#" class="formAuthority">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">फारम हस्ताक्षर कर्ता</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#" class="product">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">प्रोडक्ट</span>
                    </a><br />
                </div>
                <div class="sub-menu">
                    <a href="#" class="productDetails">
                        <i class="fa fa-plus" aria-hidden="true"></i><br>
                        <span class="">प्रोडक्ट डिटेल्स</span>
                    </a><br />
                </div>
            </div>
        </div>
    </div>
    <div class="menu-option-container">

    </div>
</div>