﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LLIMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Local Level Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Frontend")</li>
                    <li>@Html.ActionLink("Unit", "Index", "Unit")</li>
                    <li>@Html.ActionLink("Saman Barga", "Index", "SamanBarga")</li>
                    <li>@Html.ActionLink("Saman Kisim", "Index", "SamanKisim")</li>
                    <li>@Html.ActionLink("Kharid Prakar", "Index", "KharidType")</li>
                    <li>@Html.ActionLink("Saman Prakriti", "Index", "SamanPrakriti")</li>
                    <li>@Html.ActionLink("Maag Kisim", "Index", "MagKisim")</li>
                    <li>@Html.ActionLink("seller", "Index", "Seller")</li>
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                    <li>@Html.ActionLink("ProductDetails", "Index", "ProductDetails")</li>
                    <li>@Html.ActionLink("Kharid Ades", "Index", "KharidAdes")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LLIMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/ Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    @RenderSection("scripts", required: false)
</body>
</html>
