﻿@model IMS.Service.ViewModels.NikasaMagFaramViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">निकासा फारम</span>
    </div>
    <div class="content-field">
        <form class="form-horizontal" id="nikasa_form" method="post" action="@Url.Action("Create", "Nikasa")">

            <div class="form-group">

                @Html.LabelFor(model => model.NikasaModel.Mag_Faram_Id, "माग फारम न.", htmlAttributes: new { @class = "control-label form-label " })

                @Html.DropDownListFor(model => model.NikasaModel.Mag_Faram_Id, Model.MagFaramList,"--माग न. छान्नुहोस--", htmlAttributes: new { @class = "form-field  " })
            </div>

            <div class="form-group">
                <label>मिति</label>
                <input type="text" class="nep_date form-control" id="nepali_date" name="KharidAdeshModel.Created_date" />


            </div>





        </form>
        <form class="form-horizontal" id="dakhilEditProductForm" style="display:none" action="#">
            <div class="form-group">
                <label>Product</label>
                <input type="text" class="form-control product_id_field">
            </div>
            <div class="form-group">
                <label>Kharid Type</label>
                <input type="text" class="form-control kharid_type_id_field">
            </div>
            <div class="form-group">
                <label>quantity</label>
                <input type="text" class="form-control quantity_field">
            </div>
            <div class="form-group">
                @*<div class="form-group">
                        @Html.LabelFor(model => model.DakhilaModel.Kharid_adesh_id, "Seller", htmlAttributes: new { @class = "control-label form-label " })
                        @Html.DropDownListFor(model => model.DakhilaModel.Id, Model.SellerLit, htmlAttributes: new { @class = "form-field  " })
                    </div>*@

            </div>
            <div class="form-control">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div>


    </div>
    <div class="display-content">
        <table class="table table-bordered " id="nikasa-table">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>माग गर्ने</th>
                    <th>क्याटोगोरी</th>
                    <th>प्रोडक्ट</th>
                    <th>प्रोडक्ट डिटेल्स</th>
                    <th>सङ्ख्या</th>

                </tr>
            </thead>
            <tbody>
                <tr></tr>

            </tbody>
        </table>
        <input type="hidden" id="mag_faram_id" />
        <input type="hidden" value="@Session["id"]" id="myHiddenVar" />
        <input type="hidden" value="@Session["Office_Id"]" id="officeId" />
        <div class="submit-buttonss btn-group">
            <button class="btn btn-primary" id="save" onclick="saveNikasa()" type="button"> Save </button>
            <button class="btn btn-warning" type="button"> Clear </button>
        </div>
    </div>
</div>
<script>
var MyAppUrlSettings = {
    NikasaDetailsURl : '@Url.Action("SaveFromFront", "Nikasa")'
    @*KharidAdesDetailsURL : '@Url.Action("KharidAdesDetailForDakhila", "KharidAdeshDetails")'*@
    }

</script>





    <script>
        $('#NikasaModel_Mag_Faram_Id').change(function () {
            // alert('hunter');
            var id = $(this).val();
            $('#mag_faram_number').val(id);
            var MagFaramNumber = $('#NikasaModel_Mag_Faram_Id').val();

            //console.log(MagFaramNumber);
            var i = 1;
            $.ajax({
                type: "GET",
                url: " Magfaram/GetMagFaramById",
                data: "Id=" + MagFaramNumber,
                success: function (data) {

                    $('#nikasa-table').find('tbody').html('<tr></tr>');

                    $.each(data, function (key, value) {

                        console.log(value);
                        var tr = "<tr id='kharid_adesh_detail" + value.
                            Id + "'>" +
                            "<td>" +
                            i +
                            "</td>" +
                            "<td class='karmachari_id'>" +
                            value.KarmaChari +
                            "</td>" +
                            "<td class='category_id'>" +
                            value.Category_Name +
                            "</td>"+
                            "<td class='product_id'>" +
                            value.Product_Name +
                            "</td>" +
                            "<td class='product_details_id'>" +
                            value.Product_Specification +
                            "</td>" +
                            "<td class='quantity'>" +
                            value.Quantity +
                            "</td>";

                        i = i + 1;
                        //console.log($('#nikasa-table').find('tbody').last('tr').attr('class'))
                        $('#nikasa-table').find('tbody').last('tr').append(tr);
                        //$.each(data.Sellers, function (key1, value1) {
                        //    $('td.seller').last().find('select').append('<option vlaue="' + value1.Id + '">' + value1.Name + '</option>')
                        //});
                    });


                }
            });
        });
    </script>
    <script>
        $('.nep_date').nepaliDatePicker({
            dateFormat: "%y-%m-%d"
        });
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();
        var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
        // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
        $('#nepali_date').val(calendarFunctions.getNepaliNumber(nepDate.bsYear) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsMonth) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsDate));
    </script>