﻿@model IEnumerable<IMS.Service.Models.MagFaramDetailsModel>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KharidAdeshReport</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Assets/img/nepal-govt-logo.png" height="65px" width="70px" alt="">
    <p><center> @Session["OfficeNameNep"].ToString()</center></p>

    <p><center>@Session["Local_Level_Type_Name"]को कार्यलय, @Session["District_name"]</center></p>
    <p><center><b>खरिद आदेश</b></center></p>
    @if (Model != null)
    {
        <p>
           माग फारम न.  @Model.FirstOrDefault().Mag_Faram_Number

        </p>

    }
    @if (Model != null)
    {
        <p>मिति: @Model.FirstOrDefault().Created_Date</p>

    }


    <table class="table">
        <tr>
            <th>
                क्र. स.
            </th>
            <th>
                माग गर्न
            </th>
            <th>
                विवरण
            </th>
            <th>
                स्पेशिफिकेशन
            </th>
            <th>
                परिमाण
            </th>
            <th>
                इकाइ
            </th>

        </tr>


        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
        {

            <tr>
                <td>
                    @item.Index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Request_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Product_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Unit_Name)
                </td>

            </tr>

        }


    </table>
    <div>
        तयार गर्ने
        <div class="col-md-offset-4"><p>पेश गर्ने</p></div>
        सदर गर्ने
    </div>



</body>
</html>
