﻿@model IMS.Service.Models.SellerModel

<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">आपुत्ती कर्ता फारम</span>
    </div>
    @using (Html.BeginForm("Create", "Seller", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, "कम्पनी नाम", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Owner_name, "व्यक्ति नाम", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Owner_name, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Owner_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone, "टेलिफोन न.", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, "मोबाईल न.", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Darta_number, "कम्पनी दर्ता न.", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Darta_number, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Darta_number, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Address, "ठेगाना", htmlAttributes: new { @class = "control-label form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.Office_Id, new { Value = Session["Office_Id"] })
            @Html.HiddenFor(m => m.Created_By, new { Value = Session["id"] })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="सेभ" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

