﻿@model List<IMS.Service.Models.KharidAdeshModel>

<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">खरिद आदेश संसोधन फारम</span>
    </div>
   
   
    <table class="table">
        <tr>
            <th>
                SN
            </th>
            <th> खरिद आदेश न.</th>


            <th>
                मिति
            </th>
            <th>Action</th>
        </tr>
       
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.KharidAdesNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>


                <td>

                    @*<a href="#" id="kharidAdeshEditParitial " >Edit</a>
        <a href="#" id="kharidAdeshEditParitial">Details</a>
        <a href="#" id="kharidAdeshEditParitial">Delete</a>
        @Html.ActionLink("Edit", null, null, new { id = "kharidAdeshEditParitial" }) |*@
                    @Html.ActionLink("Details", null, new { @value = item.Id, @id = "kharidAdeshEditParitial" }) |
                    @Html.ActionLink("edit", "KharidAdeshEditViewPage", new { id = item.Id }, new { target ="_kharidAdeshEditPage"})
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            </tr>

        }

    </table>
   
</div> 
<script>
    $('#kharidAdeshEditParitial').on('click', function (e) {
        e.preventDefault();
        alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("KharidAdeshEditViewPage", "Frontend")');
    });
</script>

