﻿@model IMS.Service.ViewModels.KharidAdeshViewModel
@{
    Layout = "~/Views/Shared/Frontend/_master.cshtml";
}
@{Html.RenderPartial("_FrontendHeader");}
<div class="flash-message">
    Added Successfully.
</div>
<div class="content-wrapper">
    <div id="partial-view">
        <span id="welcome-msg">  @Session["OfficeNameNep"].ToString() </span>
    </div>
    
    @*@Html.DropDownListFor(model => model.KharidAdeshDetailModel.Kharid_type_id, Model.KharidPrakarList)*@
    @*<div id="partial-view"> @{Html.RenderPartial("_home");} </div>*@
</div>
<script>
    $('#खरिद').find('.add').click(function () {
    //$(document).ready(function () {
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("KhadridAdesAddView","Frontend")');
    });
    $('#खरिद').find('.kharidAdeshEdit').click(function () {
    //$(document).ready(function () {
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("KharidAdshEditView", "Frontend")');
    });

    $('#दाखिला').find('.add').click(function () {
    //$(document).ready(function () {
        $('#partial-view').html(' ');
        //alert('here')
        $('#partial-view').load('@Url.Action("DakhilaAddView", "Frontend")');
    });

    $('#माग').find('.add').click(function () {
    //$(document).ready(function () {
        $('#partial-view').html(' ');
        //alert('here')
        $('#partial-view').load('@Url.Action("MagFaram", "Frontend")');
    });

    $('#निकसा').click(function () {
       // alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("Nikasa", "Frontend")');
    });

    $('#प्रतिवेदन').find('.kharidAdeshReportView').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("KharidAdeshReportView", "Frontend")');
    });
    $('#सुरक्षा').find('.add').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("KarmachariView", "Frontend")');
    });

     $('#सेटअप').find('.seller').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("SellerView", "Frontend")');
    });
    $('#सेटअप').find('.formAuthority').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("FormAuthorityView", "Frontend")');
    });
    $('#सेटअप').find('.product').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("ProductAddView", "Frontend")');
    });
    $('#सेटअप').find('.productDetails').click(function () {
        //alert('hunter');
        $('#partial-view').html(' ');
        $('#partial-view').load('@Url.Action("ProductDetailsAddView", "Frontend")');
    });
   
    //menu home page
    $('#kharid_home').click(function () {
        $('#partial-view').load('@Url.Action("KhadridAdesView","Frontend")');
    });

     //menu home page
  
    
</script>
