﻿@model IMS.Service.ViewModels.DakhilaKharidAdeshViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">दाखिला फारम</span>
    </div>
    <div class="content-field">
        <form class="form-horizontal" id="kharid_ades_form" method="post" action="@Url.Action("Create", "KharidAdes")">

            <div class="form-group">

                @Html.LabelFor(model => model.DakhilaModel.Kharid_adesh_id, "खरिद आदेश न.", htmlAttributes: new { @class = "control-label form-label" })

                @Html.DropDownListFor(model => model.DakhilaModel.Kharid_adesh_id, Model.KharidAdeshList, "--खरिद आदश न. छान्नुहोस--", htmlAttributes: new { @class = "form-field" })
            </div>
            <div class="form-group">
               <label class="control-label form-label">मिति</label>
                <input type="text" class="nep_date form-control form-field" id="nepali_date" name="KharidAdeshModel.Created_date" />
               

            </div>



        </form>
        <form class="form-horizontal" id="dakhilEditProductForm" style="display:none" action="#">
            <div class="form-group">
                <label>Product</label>
                <input type="text" class="form-control product_id_field">
            </div>
            <div class="form-group">
                <label>Kharid Type</label>
                <input type="text" class="form-control kharid_type_id_field">
            </div>
            <div class="form-group">
                <label>quantity</label>
                <input type="text" class="form-control quantity_field">
            </div>
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.DakhilaModel.Kharid_adesh_id, "Seller", htmlAttributes: new { @class = "control-label form-label " })
                    @Html.DropDownListFor(model => model.DakhilaModel.Id, Model.sellerModelList, htmlAttributes: new { @class = "form-field  " })
                </div>

            </div>
           
            <div class="form-control">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div>
       

    </div>
    <div class="display-content">
        <table class="table table-bordered " id="dakhila-table">
            <thead>
                <tr>
                    <th>सि न.</th>
                    <th>क्याटोगोरी</th>
                    <th>प्रोडक्ट</th>
                    <th>प्रोडक्ट डिटेल्स</th>
                    <th>खरिद किसिम</th>
                    <th>क्वान्टिटी</th>
                    <th>आपुर्तीकर्ता</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>

            </tbody>
        </table>
        <input type="hidden" value="" id="kharid_adesh_number" />
        <input type="hidden" value="@Session["id"]" id="myHiddenVar" />
        <input type="hidden" value="@Session["Office_Id"]" id="officeId" />
        <div class="submit-buttonss btn-group">
            <button class="btn btn-primary" id="save" onclick="saveDakhila()" type="button"> दाखिला ‍ </button>
            
            <button class="btn btn-warning" type="button"> Clear </button>
        </div>
    </div>
</div>
<script>
var MyAppUrlSettings = {
  
    DakhilaDetailsURL: '@Url.Action("SaveDakhilaDetails", "Dakhila")' //("Function","Controller")
    
    }


//fetch data from kharidAdeshDetails
    
    $('#DakhilaModel_Kharid_adesh_id').change(function () {
        var id = $(this).val();
        $('#kharid_adesh_number').val(id);
        var KharidAdesNumber = $('#DakhilaModel_Kharid_adesh_id').val();
        //alert('hunter');
        //console.log(KharidAdesNumber);
        var i = 1;
    $.ajax({
        type: "GET",
        url: "KharidAdeshDetails/List",
        data: "Id=" + KharidAdesNumber,
        success: function (data) {
            var sellerList=[];
            console.log(data);
            $('#dakhila-table').find('tbody').html('<tr></tr>');
            $.each(data.Sellers,function(key, value) {

                sellerList.push({
                    option:'<option>' + value.Name + '</option>'
                });
                
            });
            //console.log(sellerList);
            $.each(data.Data, function (key, value) {

                console.log(value);
                var tr = "<tr id='kharid_adesh_detail" + value.
                    Id+ "'>" +
                    "<td>" +
                    i +
                    "</td>" +
                    "<td class='category_id'>" +
                    value.Category_Name +
                    "</td>" +
                    "<td class='product_id'>" +
                    value.Product_Name +
                    "</td>" +
                    "<td class='product_details_id'>" +
                    value.Product_Specification +
                    "</td>" +  
                    "<td class='kharid_type_id'>" +
                    value.Kharid_Type_Name +
                    "</td>" +
                    "<td class='quantity'>" +
                    value.Quantity +
                    "</td>" +
                    "<td class='seller' style='width:200px;'>" +
                    "<select class='seller-select'>" +
                    "</select>"
                    "</td > ";
                   
                i = i + 1;
                
                $('#dakhila-table').find('tbody').last('tr').append(tr);
                $.each(data.Sellers, function (key1, value1) {
                    $('td.seller').last().find('select').append('<option vlaue="' + value1.Id+'">'+value1.Name+'</option>')
                });
            });

            
        }
    });
    });

    function editProduct(event) {
        $('#dakhilEditProductForm').show();
        var product_id = $(event.target).parent().parent().find('.product_id').text();
        var kharid_type_id = $(event.target).parent().parent().find('.kharid_type_id').text();
        var quantity = $(event.target).parent().parent().find('.quantity').text();
        $('#dakhilEditProductForm').find('.product_id_field').val(product_id);
        $('#dakhilEditProductForm').find('.kharid_type_id_field').val(kharid_type_id);
        $('#dakhilEditProductForm').find('.quantity_field').val(quantity);
        console.log($(event.target).parent().parent().find('.product_id').text());

    }
</script>

<script>
    $('.nep_date').nepaliDatePicker({
        dateFormat: "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
    // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    //$('#nepali_date').val(calendarFunctions.getNepaliNumber(nepDate.bsYear) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsMonth) + '-' + calendarFunctions.getNepaliNumber(nepDate.bsDate));
    $('#nepali_date').val((nepDate.bsYear) + '-' + (nepDate.bsMonth) + '-' + (nepDate.bsDate));
</script>
