﻿@model IMS.Service.ViewModels.KharidAdeshViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">खरिद आदेश</span>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="content-field">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form class="form-horizontal" id="kharid_ades_form" method="post" action="@Url.Action("Create", "KharidAdes")">
                <div class="form-group">
                    <label class="control-label form-label">मिति</label>
                    <input type="text" class="nep_date form-control form-field" id="nepali_date" name="KharidAdeshModel.Created_date" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.KharidAdesNumber, "खरिद आदेश न.", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.EditorFor(model => model.KharidAdeshModel.KharidAdesNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.KharidAdeshModel.KharidAdesNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.Category_Id, "क्याटेगोरी", htmlAttributes: new { @class = "control-label form-label " })
                    @Html.DropDownListFor(model => model.KharidAdeshModel.Category_Id, Model.CategoryList, "---------", htmlAttributes: new { @class = "form-field category" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.product_id, "प्रोडक्ट", htmlAttributes: new { @class = "control-label form-label product" })

                    @Html.DropDownListFor(model => model.ProductModel.Id, new SelectList(" "), "----------", new { @class = "form-field product" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetailsModel.Id, "प्रोडक्ट डिटेल्स", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.DropDownListFor(model => model.ProductDetailsModel.Id, new SelectList(" "), "----------", new { @class = "form-field product_details" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdesDetailsModel.Kharid_type_id, "खरिद किसिम", htmlAttributes: new { @class = "form-label control-label" })
                    @Html.DropDownListFor(model => model.KharidAdesDetailsModel.Kharid_type_id, Model.KharidPrakarList, "--खरिद किसिम छान्नुहोस--", htmlAttributes: new { @class = "form-field kharid_type" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdesDetailsModel.Quantity, "क्वान्टिटी", htmlAttributes: new { @class = "form-label control-label" })
                    @Html.EditorFor(model => model.KharidAdesDetailsModel.Quantity, new { htmlAttributes = new { @class = "form-field quantity" } })
                    @Html.ValidationMessageFor(model => model.KharidAdesDetailsModel.Quantity, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="kharid_ades_form_btn" onclick="KharidAdeshFormSubmit(event)" class="btn btn-primary form-field">थप</button>
                    </div>
                </div>
            </form>
        </div>
    }
    <div class="display-content">
        <table class="table table-bordered " id="kharid_ades_table">
            <thead>
                <tr>
                    <th>सि न.</th>
                    <th>क्याटोगोरी</th>
                    <th>प्रोडक्ट</th>
                    <th>प्रोडक्ट डिटेल्स</th>
                    <th>खरिद किसिम</th>
                    <th>क्वान्टिटी</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>

            </tbody>
        </table>
        <input type="hidden" class="nep_date1 form-control" id="nepali_month" name="KharidAdeshModel.Created_date" />
        <input type="hidden" value="@Session["id"]" id="myHiddenVar" />
        <input type="hidden" value="@Session["Office_Id"]" id="officeId" />
        <div class="submit-buttonss btn-group">
            <button class="btn btn-primary" id="save" onclick="save()" type="button"> Save </button>
            <button class="btn btn-warning" type="button"> Clear </button>
        </div>
    </div>
</div>

<div id="ndp-nepali-box" class="ndp-corner-all" style="display:none"><span id="ndp-target-id" style="display:none"></span><div class="ndp-corner-all ndp-header"><a href="javascript:void(0)" id="prev" title="Previous Month" class="ndp-prev"></a><a href="javascript:void(0)" id="next" title="Next Month" class="ndp-next"></a><span id="currentMonth"></span></div><table><tbody><tr class="ndp-days"><th>आ</th><th>सो</th><th>मं</th><th>बु</th><th>बि</th><th>शु</th><th>श</th></tr></tbody></table></div>
<script>
var MyAppUrlSettings = {
    KharidAdesURL : '@Url.Action("SaveFromFront","KharidAdes")'  // ("Function" ,"Controller")
}
</script>
<script>
    $('.nep_date').nepaliDatePicker({
        dateFormat: "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
    // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    $('#nepali_date').val((nepDate.bsYear) + '-' + (nepDate.bsMonth) + '-' + (nepDate.bsDate));
</script>
<script>
    $('.nep_date1').nepaliDatePicker({
        dateFormat: "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
    // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    $('#nepali_month').val((nepDate.bsMonth));
</script>

<script>
    $(document).ready(function () {
        $('#KharidAdeshModel_Category_Id').change(function () {
            var category_id = $(this).val();
            var office_id = $('#officeId').val();
            //alert('hunter');
            //console.log(category_id);
            //console.log(office_id);
            $.ajax({

                url: "/Product/GetProductByCategoryIdOfficeId/",
                data: {
                    category_id: category_id,
                    office_id: office_id
                },
                type: 'Get',
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    $("#ProductModel_Id").html(' '); //khali gareko

                    $("#ProductModel_Id").append("<option>---------</option>")

                    $.each(result, function (key, value) {
                        //console.log(value);
                        $("#ProductModel_Id").append("<option value='" + value.Id + "'>" + value.Product_name + "</option>")
                    })
                }

            })
        });

    });

</script>

<script>
    $(document).ready(function () {
        $('#ProductModel_Id').change(function () {
            var product_id = $('#ProductModel_Id').val();
            var office_id = $('#officeId').val();
            //alert('hunter');
            $.ajax({
                url: "/ProductDetails/getProductDetailsByProductId/",
                data: {
                    product_id: product_id,
                    office_id: office_id
                },

                type: 'Get',
                contentType: JSON,
                success: function (result) {

                    $("#ProductDetailsModel_Id").html(' ');
                    $("#ProductDetailsModel_Id").append("<option>-------- </option>")

                    $.each(result, function (key, value) {
                        //console.log(value);
                        $("#ProductDetailsModel_Id").append("<option value='" + value.Id + "'>" + value.Specification_Name + "</option>")
                    })
                }
            })
        });

    });
</script>

<script>
    function getData() {
        //alert('hunter');
       
       
        var category_id = $(event.target).parent().parent().find('.category_id').text();   // from Application.js line 48
        var product_id = $(event.target).parent().parent().find('.product_id').text();
        var product_details_id = $(event.target).parent().parent().find('.product_details_id').text();
        var kharid_type_id = $(event.target).parent().parent().find('.kharid_type_id').text();
        var quantity = $(event.target).parent().parent().find('.quantity').text();
        $('#kharid_ades_form').find('#KharidAdeshModel_Category_Id').val(category_id);
        //$('#kharid_ades_form').find('.form-field product').val(product_id);
        //$('#kharid_ades_form').find('.form-field product_details').val(product_details_id);
        //$('#kharid_ades_form').find('.form-field kharid_type').val(kharid_type_id);
        //$('#kharid_ades_form').find('.form-field quantity text-box single-line').val(quantity);
        console.log($(event.target).parent().parent().find('.category_id').text());
        console.log($(event.target).parent().parent().find('.product_id').text());
    }
</script>