﻿@model List<IMS.Service.Models.KharidAdeshModel>

<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">खरिद आदेश संसोधन फारम</span>
    </div>
    <table class="table">
        <tr>
            <th>
                SN
            </th>
            <th> खरिद आदेश न.</th>


            <th>
                मिति
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.KharidAdesNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
