﻿@model IMS.Service.ViewModels.KharidAdeshViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">खरिद आदेश</span>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/js/nepali.datepicker.v2.2.min.js"></script>
    <link href="~/Assets/css/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Assets/css/Style.css" rel="stylesheet" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="content-field">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form class="form-horizontal" id="kharid_ades_form" method="post" action="@Url.Action("Create", "KharidAdes")">
                <div class="form-group">
                    <label class="control-label form-label">मिति</label>
                    <input type="text" class="nep_date form-control form-field" id="nepali_date" name="KharidAdeshModel.Created_date" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.KharidAdesNumber, "खरिद आदेश न.", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.EditorFor(model => model.KharidAdeshModel.KharidAdesNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.KharidAdeshModel.KharidAdesNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.Category_Id, "क्याटेगोरी", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.DropDownListFor(model => model.KharidAdeshModel.Category_Id, Model.CategoryList, "---------", htmlAttributes: new { @class = "form-field" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdeshModel.product_id, "प्रोडक्ट", htmlAttributes: new { @class = "control-label form-label" })

                    @Html.DropDownListFor(model => model.ProductModel.Id, new SelectList(" "), "----------", new { @class = "form-field" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetailsModel.Id, "प्रोडक्ट डिटेल्स", htmlAttributes: new { @class = "control-label form-label" })
                    @Html.DropDownListFor(model => model.ProductDetailsModel.Id, new SelectList(" "), "----------", new { @class = "form-field" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdesDetailsModel.Kharid_type_id, "खरिद किसिम", htmlAttributes: new { @class = "form-label control-label" })
                    @Html.DropDownListFor(model => model.KharidAdesDetailsModel.Kharid_type_id, Model.KharidPrakarList, "--खरिद किसिम छान्नुहोस--", htmlAttributes: new { @class = "form-field" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KharidAdesDetailsModel.Quantity, "क्वान्टिटी", htmlAttributes: new { @class = "form-label control-label" })
                    @Html.EditorFor(model => model.KharidAdesDetailsModel.Quantity, new { htmlAttributes = new { @class = "form-field" } })
                    @Html.ValidationMessageFor(model => model.KharidAdesDetailsModel.Quantity, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="kharid_ades_form_btn" onclick="KharidAdeshFormSubmit(event)" class="btn btn-primary form-field">थप</button>
                    </div>
                </div>
            </form>
        </div>
    }
        <div class="display-content">
            <table class="table table-bordered " id="kharid_ades_table">
                <thead>
                    <tr>
                        <th>सि न.</th>
                        <th>प्रोडक्ट</th>
                        <th>प्रोडक्ट डिटेल्स</th>
                        <th>खरिद किसिम</th>
                        <th>क्वान्टिटी</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
            <input type="hidden" id="kharid_Adesh_Id" value="@Session["kharidAdeshId"]"/>
            <input type="hidden" class="nep_date1 form-control" id="nepali_month" name="KharidAdeshModel.Created_date" />
            <input type="hidden" value="@Session["id"]" id="myHiddenVar" />
            <input type="hidden" value="@Session["Office_Id"]" id="officeId" />
            <div class="submit-buttonss btn-group">
                <button class="btn btn-primary" id="save" onclick="save()" type="button"> Save </button>
                <button class="btn btn-warning" type="button"> Clear </button>
            </div>
        </div>
</div>

<script>
var MyAppUrlSettings = {
    KharidAdesURL : '@Url.Action("SaveFromFront","KharidAdes")'
}
</script>
<script>
    $('.nep_date').nepaliDatePicker({
        dateFormat : "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
   // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    $('#nepali_date').val((nepDate.bsYear) + '-' + (nepDate.bsMonth) + '-' + (nepDate.bsDate));
</script>
<script>
    $('.nep_date1').nepaliDatePicker({
        dateFormat: "%y-%m-%d"
    });
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var nepDate = calendarFunctions.getBsDateByAdDate(year, month, day);
    // console.log(calendarFunctions.getBsDateByAdDate(year, month, day));
    $('#nepali_month').val((nepDate.bsMonth));
</script>



@* 
    To get the product data while clicking Category field     
*@
<script>
    $(document).ready(function () {
        $('#KharidAdeshModel_Category_Id').change(function () {
            var category_id = $(this).val();
            var office_id = $('#officeId').val();
            //alert('hunter');
            //console.log(category_id);
            //console.log(office_id);
            $.ajax({

                url: "/Product/GetProductByCategoryIdOfficeId/",
                data: {
                    category_id: category_id,
                    office_id: office_id
                },
                type: 'Get',
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    $("#ProductModel_Id").html(' '); //khali gareko

                    $("#ProductModel_Id").append("<option>---------</option>")

                    $.each(result, function (key, value) {
                        //console.log(value);
                        $("#ProductModel_Id").append("<option value='" + value.Id + "'>" + value.Product_name + "</option>")
                    })
                }

            })
        });

    });

</script>


@* 
    Get the Product Details depends on Product field    
*@
<script>
    $(document).ready(function () {
        $('#ProductModel_Id').change(function () {
            var product_id = $('#ProductModel_Id').val();
            var office_id = $('#officeId').val();
             //alert('hunter');
            $.ajax({
                url: "/ProductDetails/getProductDetailsByProductId/",
                data: {
                    product_id: product_id,
                    office_id: office_id
                },

                type: 'Get',
                contentType: JSON,
                success: function (result) {

                    $("#ProductDetailsModel_Id").html(' ');
                    $("#ProductDetailsModel_Id").append("<option>-------- </option>")

                    $.each(result, function (key, value) {
                        //console.log(value);
                        $("#ProductDetailsModel_Id").append("<option value='" + value.Id + "'>" + value.Specification_Name + "</option>")
                    })
                }
            })
        });

    });
</script>
<script>
    $(document).ready(function () {
        var kharid_aadesh_id = $('#kharid_Adesh_Id').val();
        //console.log("ready!");
         //alert(kharid_aadesh_id);
        $.ajax({

            url: "/Frontend/GetKhairdAdeshDetailsByOfficeId/",
            data: {
                kharid_aadesh_id: kharid_aadesh_id,
                
            },
            success: function (result) {
                var html = '';
                var index_ = 0;
               // console.log("ready!");
                console.log(result);
                //alert('hunter');
                $.each(result, function (key, item) {
                    index_++;
                    html += '<tr>';
                    html += '<td>' + index_ + '</td>';
                    html += '<td>' + item.Product_id + '</td>';

                    html += '<td>' + item.Product_Details_Id + '</td>';
                    html += '<td>' + item.Kharid_type_id + '</td>';
                    html += '<td>' + item.Quantity + '</td>';


                    html += '<td><a href="#"   onclick="getData()">Edit</a> | <a href="#" onclick="Delete(' + item.Id + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('#kharid_ades_table').find('tbody').html(html);

            }
        })
    });
</script>

<script>
    function getData() {
        alert('hunter');
    }

</script>