﻿@model IMS.Service.ViewModels.KharidAdeshViewModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">अनुदानको बार्षिक बजेट प्रबिस्टी</span>
    </div>
    <div class="content-field">
        <div class="ka-view">
            <ul>
                @foreach (var item in Model.KharidAdeshList)
                {
                <li>
                    <span class="date">@item.Created_date</span>
                    <span class="ka-number">@item.KharidAdesNumber</span>
                    <span class="detail">Details</span>
                </li>
                }
            </ul>
        </div>
    </div>
    <div class="display-content">
        <table class="table table-bordered " id="kharid_ades_view_table">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>ID</th>
                    <th>Kharid Ades Number</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.KharidAdeshList)
                 {
                    
                    <tr>
                        <td>1</td>
                        <td>@item.Id</td>
                        <td>@item.KharidAdesNumber</td>
                        <td>@item.Created_date</td>
                    </tr>
                 }

            </tbody>
        </table>
        <div class="submit-buttonss btn-group">
            <button class="btn btn-primary" id="save" onclick="save()" type="button"> Save </button>
            <button class="btn btn-warning" type="button"> Clear </button>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>K A Number</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
       
       
    </tbody>
</table>