﻿@model IMS.Service.Models.FormAuthorityModel
<div class="content-cantainer">
    <div class="opend-file-wrapper">
        <span class="file-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <span class="opened-file-name">फारम हस्ताक्षर कर्ता</span>
    </div>
    @using (Html.BeginForm("FormAuthorityCreate", "KarmachariDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.Ready_By, "तयार गर्ने.", htmlAttributes: new { @class = "control-label form-label ", name = "ready_by" })

                @Html.DropDownListFor(model => model.Ready_By, Model.KarmachariList, "--तयार गर्ने--", htmlAttributes: new { @class = "form-field  " })
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Submit_By, "पेश गर्ने.", htmlAttributes: new { @class = "control-label form-label ", name = "preapared_by" })

                @Html.DropDownListFor(model => model.Submit_By, Model.KarmachariList, "--पेश गर्ने--", htmlAttributes: new { @class = "form-field  " })
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Approved_By, "सदर गर्ने.", htmlAttributes: new { @class = "control-label form-label " })

                @Html.DropDownListFor(model => model.Approved_By, Model.KarmachariList, "--सदर गर्ने--", htmlAttributes: new { @class = "form-field  ", })
            </div>

            @Html.HiddenFor(m => m.Office_Id, new { Value = Session["Office_Id"] })


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="सेभ" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>