﻿@model IMS.Service.ViewModels.KharidAdeshViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kharid Adesh Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KharidAdeshModel.KharidAdesNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KharidAdeshModel.product_id)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.KharidAdeshModel.Status)
        </th>
        
        <th>Action</th>
    </tr>

    @foreach (var item in Model.KharidAdeshList)
    {
        <tr>
            <td>
                @item.KharidAdesNumber
                @*@Html.DisplayFor(modelItem => Model.KharidAdeshModel.kharid_ades_number)*@
            </td>
            <td>

                @item.product_id
                @*@Html.DisplayFor(modelItem => Model.KharidAdeshModel.product_id)*@
            </td>
          
            <td>
                @item.Status
                @*@Html.DisplayFor(modelItem => Model.KharidAdeshModel.Status)*@
            </td>
          
          
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
